{% extends 'index.html' %}
{% block content %}
<br>
<br>
<br>
<div class="row justify-content-center">
  <div class="col-11">
<table class="table">
<thead>
  <tr class="table-info">
    <th scope="col">ICO</th>
    <th scope="col">Description</th>
    <th scope="col">Start</th>
    <th scope="col">End</th>
    <th scope="col">Official Link</th>
  </tr>
</thead>
<tbody>
{% for item in upcoming_ico %}
  <tr>
    <th scope="row"><img src='{{item.image}}' alt='{{item.name}}'></th>
    <td>{{item.description}}</td>
    <td>{{item.start_time}}</td>
    <td>{{item.end_time}}</td>
    <td><a href='{{item.website_link}}'>Visit ICO </td>
  </tr>
  {% endfor %}
</tbody>
</table>
</div>
</div>
{% endblock content %}
